#sidebar {
  width: 18rem;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);
  font-family: nunito;
  z-index: 9999;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#sidebar .top {
  width: 100%;
  height: 11rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  background: #40407a;
  color: #fff;
}

#sidebar .top img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#sidebar .top svg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#sidebar .top p#userName {
  margin: 8px 0 3px;
}

#sidebar .top button {
  position: absolute;
  top: 10px;
  left: 22px;
  border: none;
  border-radius: 0;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
}

#sidebar .top button svg {
  width: 50%;
  fill: #fff;
}

#sidebar .middle {
  width: 100%;
  padding: 5px 0;
}

#sidebar .middle a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

#sidebar .middle a:hover {
  background: #d0d0d0;
}

#sidebar .middle a.circle img {
  border-radius: 50%;
}

#sidebar .middle a svg,
#sidebar .middle a img {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

#sidebar .middle hr {
  margin: 5px 0;
}

#sidebar .foot {
  margin: 5px 0;
  padding: 0 5px;
}

#sidebar .foot p {
  font-size: 14px;
  font-weight: normal;
}
